.button {
  background-color: var(--color-accent);
  color: var(--color-secondary);
  text-align: center;
  padding: 1rem 2rem;
  width: 180px;
}

.button:hover {
  background-color: var(--color-accent-lighter);
  transition: background-color var(--transition-time);
}
