header {
  background-color: var(--color-tertiary);
}

header nav.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs) var(--spacing-sm);
}

header .first-column {
  width: 100%;
}

header form.search {
  --round-shape: 1rem;
  position: relative;
}

header form.search input {
  background-color: var(--color-secondary);
  border-radius: var(--round-shape);
  padding-left: var(--spacing-sm);
  padding-right: calc(var(--spacing-base) + var(--spacing-xs));
}

header form.search button {
  border-radius: var(--round-shape);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

header form.search button svg {
  height: 100%;
}

header form.search button svg path {
  fill: var(--color-primary-lighter);
}

header form.search button:hover svg path, header form.search button:focus-visible svg path {
  fill: currentColor;
  transition: fill var(--transition-time);
}

header a.nav-button {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--color-accent);
}

header a.nav-button:hover, header a.nav-button:focus-visible {
  background-color: var(--color-accent-transparent);
  transition: background-color var(--transition-time);
}

header a.nav-button.logout {
  color: var(--color-danger);
}

header a.nav-button.logout:hover, header a.nav-button.logout:focus-visible {
  background-color: var(--color-danger-transparent);
}

header button.searchbar-toggler svg {
  vertical-align: text-bottom;
}

header button.searchbar-toggler[aria-label="Close search products bar"] {
  align-self: self-end;
}
