:root {
  --color-primary: rgb(70, 70, 70);
  --color-primary-lighter: rgb(162, 162, 162);
  --color-secondary: rgb(245, 245, 245);
  --color-tertiary: rgb(255, 255, 255);
  --color-accent: rgb(42, 122, 228);
  --color-accent-lighter: rgb(85, 149, 233);
  --color-accent-transparent: rgb(42, 122, 228, 0.15);
  --font-primary: "Raleway", sans-serif;
  --font-sm: 0.75rem;
  --font-base: 1rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
  --font-regular: 400;
  --font-bold: 700;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-base: 2rem;
  --transition-time: 0.25s;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-weight: var(--font-regular);
  font-style: normal;
  font-size: var(--font-sm);
}

*:focus-visible {
  outline: 2px solid var(--color-primary) !important;
  outline-offset: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--spacing-sm);
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex-grow: 1;
  width: 100%;
  padding-top: var(--spacing-base);
  padding-bottom: var(--spacing-base);
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: pointer;
}

ol, ul {
  list-style: none;
  padding: 0;
}
