@media screen and (min-width: 768px) {
  :root {
    font-size: var(--font-base);
  }
  
  .container {
    padding: var(--spacing-base) var(--spacing-sm);
  }

  header .first-column {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
    width: 60% !important;
  }

  header form.search, header a.nav-button {
    display: initial !important;
  }

  header button.searchbar-toggler {
    display: none;
  }

  ul.products-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  footer nav.container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
  }

  footer div.first-column {
    text-align: left !important;
    width: 80%;
  }

  footer .logo {
    margin: 0 !important;
  }

  footer ul.store-links {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1000px) {
  ul.products-list {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  footer div.first-column {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
  }

  footer ul.store-links {
    margin: 0 auto;
  }
}
