@media screen and (min-width: 768px) {
  :root {
    font-size: var(--font-base);
  }
  
  .container {
    padding: var(--spacing-base);
  }

  header nav.container {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
  }

  header .first-column {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
    width: 60% !important;
  }

  header form.search, header a.nav-button {
    display: initial !important;
  }

  header button.searchbar-toggler {
    display: none;
  }

  div.banner h2 {
    font-size: var(--font-xl) !important;
  }

  ul.products-list {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  section.product-details {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
  }

  section.product-details img {
    position: relative !important;
    min-width: 40%;
  }

  section.product-details div.info-container {
    margin-top: 0 !important;
  }

  section.product-details h2.name {
    margin-top: 0;
  }

  section.similar-products {
    margin-top: calc(var(--spacing-base) * 2) !important;
  }

  footer nav.container {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
  }

  footer div.first-column {
    text-align: left !important;
    width: 80%;
  }

  footer .logo {
    margin: 0 !important;
  }

  footer ul.store-links {
    margin: 0;
  }
}

@media screen and (min-width: 1000px) {
  header nav.container {
    padding-top: var(--spacing-base);
    padding-bottom: var(--spacing-base);
  }

  ul.products-list {
    grid-template-columns: repeat(6, 1fr) !important;
  }

  ul.products-list li:nth-child(5), ul.products-list li:nth-child(6) {
    display: initial !important;
  }

  section.product-details h2.name {
    font-size: var(--font-xl) !important;
  }

  form.add-new-product {
    max-width: 600px;
    margin: var(--spacing-base) auto;
  }

  footer div.first-column {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-base);
  }

  footer ul.store-links {
    margin: 0 auto;
  }
}
