section.category-section:not(:first-child) {
  margin-top: var(--spacing-base);
}

section#search_container div.products-header {
  margin-bottom: var(--spacing-sm);
}

div.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
}

h2.products-category {
  margin: 0;
}

a.see-all {
  color: var(--color-accent);
  font-weight: var(--font-bold);
  white-space: nowrap;
}

a.see-all:hover {
  color: var(--color-accent-lighter);
}

a.see-all::after {
  --icon-size: 1rem;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z' fill='%232A7AE4'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: bottom;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: var(--spacing-sm);
}

a.see-all:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z' fill='%235595e9'/%3E%3C/svg%3E");
  transition: background-image var(--transition-time);
}

ul.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-sm);
}

ul.products-list:not(ul.all-products) li:nth-child(5),
ul.products-list:not(ul.all-products) li:nth-child(6) {
  display: none;
}

ul.products-list.all-products li {
  position: relative;
}

ul.products-list.all-products div.buttons-container {
  --offset: 10px;
  position: absolute;
  top: var(--offset);
  right: var(--offset);
}

ul.products-list.all-products div.buttons-container * {
  --shadow-offset: 2px;
  display: inline;
  filter: drop-shadow(1px 1px var(--shadow-offset) rgb(0, 0, 0, 0.15));
}

ul.products-list.all-products div.buttons-container *:not(:first-child) {
  margin-left: var(--spacing-sm);
}

ul.products-list.all-products div.buttons-container * svg {
  margin-right: var(--shadow-offset);
  color: var(--color-tertiary);
}

ul.products-list li {
  overflow: hidden;
}

ul.products-list li * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.products-list a /* for focus outline */ {
  display: block;
}

ul.products-list img {
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  width: 100%;
  margin-bottom: var(--spacing-xs);
}

ul.products-list span.price, section.product-details span.price {
  display: block;
  font-weight: var(--font-bold);
  line-height: 2.5rem;
}

ul.products-list a:hover span.see-product {
  color: var(--color-accent-lighter);
}

ul.products-list span.see-product {
  color: var(--color-accent);
  font-weight: var(--font-bold);
}

section.product-details {
  --image-size: 300px;
}

section.product-details img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: var(--image-size);
}

section.product-details div.info-container {
  margin-top: var(--image-size);
}

section.product-details h2.name {
  font-size: var(--font-lg);
  font-weight: var(--font-semibold);
  margin-bottom: 0;
}

section.product-details p.description {
  margin: 0;
}

section.similar-products {
  margin-top: var(--spacing-base);
}
